@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset [disabled],
input:disabled,
button:disabled {
    opacity: 0.7;
}

input,
select {
    @apply text-coolgray-400;
}

progress::-webkit-progress-bar,
progress::-webkit-progress-value {
    @apply rounded;
}

progress[value*="1"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="2"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="3"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="4"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="5"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="6"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="7"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="8"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="9"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="10"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="11"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="12"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="13"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="14"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="15"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="16"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="17"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="18"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="19"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="20"]::-webkit-progress-value {
    @apply bg-common;
}
progress[value*="21"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="22"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="23"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="24"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="25"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="26"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="27"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="28"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="29"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="30"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="31"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="32"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="33"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="34"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="35"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="36"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="37"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="38"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="39"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="40"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="41"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="42"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="43"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="44"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="45"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="46"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="47"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="48"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="49"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="50"]::-webkit-progress-value {
    @apply bg-uncommon;
}
progress[value*="51"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="52"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="53"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="54"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="55"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="56"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="57"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="58"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="59"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="60"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="61"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="62"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="63"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="64"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="65"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="66"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="67"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="68"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="69"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="70"]::-webkit-progress-value {
    @apply bg-rare;
}
progress[value*="71"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="72"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="73"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="74"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="75"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="76"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="77"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="78"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="79"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="80"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="81"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="82"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="83"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="84"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="85"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="86"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="87"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="88"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="89"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="90"]::-webkit-progress-value {
    @apply bg-epic;
}
progress[value*="91"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="92"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="93"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="94"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="95"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="96"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="97"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="98"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="99"]::-webkit-progress-value {
    @apply bg-legendary;
}
progress[value*="100"]::-webkit-progress-value {
    @apply bg-legendary;
}
